.list-group-item {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;

    .main {
        display: flex;
        flex-direction: column;
    }

    span {
        line-height: 35px;
        font-size: 18px;
        cursor: pointer;
        min-width: 450px;
    }

    .listName {
        font-size: 20px;
    }

    .listDescr {
        font-size: 17px;
    }

    .listDate {
        font-size: 18px;
    }

    .editTask {
        display: flex;
        width: 500px;
        height: 500px;
        background-color: #e09f3e;
    }

    button {
        width: 30px;
        height: 30px;
        margin: 3px;
        font-size: 15px;
        border-radius: 20%;
        cursor: pointer;
    }
}

.list-group-item:hover {
    background-color:#c6d2d5;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item .btn-check {
    color: #26bb21;
}

.list-group-item .btn-pen {
    color: #e2bd27;
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #00cbf3;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item.star .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.check .listName {
    color: #37b20a;
}
  
.list-group-item.star {
    background-color: #b1d6de;
}
