.app-add-form {
    text-align: center;
    padding: 25px;
    background-color: #9e3bb4;
    border-radius: 20px;
    box-shadow: 15px 15px 30px #D2E1DF; 
    color: black;
}


.addFormBtn {
    margin-top: 20px;
}