.app-list {
    display: block;
    position: fixed;
    height: 91%;
    max-width: 700px;
    padding: 20px;
    background-color: #d7dedc;
    color: rgb(33, 30, 30);
    border-right: solid;
    border-width: 2px;
    overflow-x: scroll; 
}

.appListAddForm {
    display: flex;
    justify-content: flex-end;
}